<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      lang="ko">
<head>
    <title>view</title>

    <th:block layout:fragment="extra-css">
        <link rel="stylesheet" th:href="@{/css/view.css}">
    </th:block>
</head>

<div layout:fragment="content">
    <div class="board-info-wrapper">
<h1>작성 글</h1><br>

<table class="view-table">

    <tr>
        <td colspan="4" th:text="${board.title}"></td>
    </tr>

    <tr>
        <td th:text="'작성자 : ' + ${board.name}"></td>
        <td th:text="'작성일자 : ' + ${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="'조회수 : ' + ${board.hit}"></td>
        <td th:text="'IP : ' + ${board.ip}"></td>
    </tr>

    <tr>
        <td colspan="4">
            <div style="min-height: 200px; text-align: left;" th:utext="${#strings.replace(board.content, #strings.toString(#strings.unescapeJava('\r\n')), '<br>')}">게시글 내용</div>
        </td>
    </tr>

    <tr>
        <td>첨부 파일</td>
        <td colspan="3">
            <th:block th:if="${board.attachments != null and not #lists.isEmpty(board.attachments)}">
                <div class="file-attachments">
                    <ul class="file-list" style="list-style-type: none; padding: 0;">
                        <li th:each="file : ${board.attachments}" style="margin-bottom: 5px;">

                            <a th:href="@{/download(idx=${file.idx})}" class="download-link" target="_blank">
                                <span th:text="${file.originalfile}">첨부파일_이름.zip</span> [다운로드]
                            </a>

                            <th:block th:if="${#strings.contains(file.originalfile, '.jpg') or #strings.contains(file.originalfile, '.png') or #strings.contains(file.originalfile, '.gif')}">
                                <br>
                                <img th:src="@{/download(idx=${file.idx})}" alt="첨부 이미지" style="max-width: 150px; height: auto; margin-top: 5px; border: 1px solid #ccc;"/>
                            </th:block>

                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${board.attachments != null and not #lists.isEmpty(board.attachments)}">
                <p>첨부된 파일이 없습니다.</p>
            </th:block>
        </td>
    </tr>

</table>
<br>

    <div class="button-group">
        <form th:action="@{/board/modify}" method="post" th:id="'modifyForm_' + ${board.idx}">
            <input type="hidden" name="idx" th:value="${board.idx}" />
            <button type="submit" class="btn-modify">수정</button>
        </form>

        <form th:action="@{/board/delete}" method="post" th:id="'deleteForm_' + ${board.idx}">
            <input type="hidden" name="idx" th:value="${board.idx}" />
            <button type="submit" class="btn-delete">삭제</button>
        </form>

        <a th:href="@{/board/list}"><button type="button" class="btn-list">목록</button></a>
    </div>

    </div>
</div>

</html>