<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      lang="ko">
<head>
    <title>modify</title>

    <th:block layout:fragment="extra-css">
        <link rel="stylesheet" th:href="@{/css/board/write.css}">
        <link rel="stylesheet" th:href="@{/css/tiptap-styles.css}">
    </th:block>
</head>

<div layout:fragment="content">

    <h1>글쓰기</h1><br>
    <form action="/board/write_proc" method="post" enctype="multipart/form-data" class="write-form" onsubmit="return setEditorContent(event);">
        <table>
            <div th:if="${isLoggedIn}">
                <tr>
                    <td>작성자</td>
                    <td>
                        <p class="form-control-static" th:text="${loggedInName}">사용자명</p>
                        <input type="hidden" name="name" th:value="${loggedInName}"/>
                        <input type="hidden" name="pwd" th:value="login">
                        <input type="hidden" name="userid" th:value="${loggedInID}"/>
                    </td>
                </tr>
            </div>
            <div th:unless="${isLoggedIn}">
                <tr>
                    <td>작성자</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="text" name="pwd"></td>
                </tr>
            </div>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title"></td>
            </tr>

            <tr>
            <tr>
                <td>내용</td>
                <td>
                    <div id="tiptap-toolbar"></div>
                    <div id="tiptap-editor-container" class="tiptap-editor-container"></div>
                    <input type="hidden" name="content" id="editor-content-hidden">
                </td>
            </tr>
            </tr>
            <tr>
                <td>파일</td>
                <td class="file-upload-container">
                    <button type="button" id="fileUploadButton">파일 선택 (최대 5개)</button>
                    <input type="file" name="files" id="hiddenFileInput" multiple accept=".gif, .jpg, .png">
                    <div id="fileList">선택된 파일 없음</div>
                    <div id="errorMessage" class="error-message"></div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="작성">
                    <button type="button" class="btn-cancel" onclick="history.back()">취소</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<th:block layout:fragment="extra-script">
    <script type="text/javascript" src="/js/write.js"></script>
    <script type="text/javascript" src="/js/tiptap-bundle.js"></script>
</th:block>

</html>