<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="/css/list.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Idx</th>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>성별</th>
        <th>생일</th>
        <th>취미</th>
        <th>가입일</th>
        <th>등급</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${list}">
        <td th:text="${member.idx}"></td>
        <td><a th:href="@{/member/view(idx=${member.idx})}" th:text="${member.userid}"></a></td>
        <td th:text="${member.pwd1}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.gender}"></td>
        <td th:text="${member.birth}"></td>
        <td th:text="${member.hobby}"></td>
        <td th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${member.member_rank}"></td>
    </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${list.first} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/member/list(page=${nowPage - 1})}" tabindex="-1">Previous</a>
        </li>

        <li class="page-item" th:each="num : ${#numbers.sequence(startPage, endPage)}"
            th:classappend="${num == nowPage} ? 'active' : ''">
            <a class="page-link" th:href="@{/member/list(page=${num})}" th:text="${num}">1</a>
        </li>

        <li class="page-item" th:classappend="${list.last} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/member/list(page=${nowPage + 1})}" >Next</a>
        </li>
    </ul>
</nav>

</body>
</html>